{% extends "EkynaAdminBundle:Entity:layout.html.twig" %}

{% block title %}
    <h1>{{ 'ekyna_media.image.header.list'|trans|raw }}</h1>
{% endblock title %}

{% block actions %}
    {{ admin_resource_btn('ekyna_media.image', 'new') }}
{% endblock actions %}

{% block main %}
    {{ render_media_manager('image') }}
{% endblock main %}

{% block stylesheets %}
    {{ parent() }}
    {#{% stylesheets output='css/debug/media-manager.css' '@media_manager_css' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}#}
    <link href="/assets/jquery-ui/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="/bundles/ekynamedia/fancytree/skin-win8/ui.fancytree.min.css" rel="stylesheet" type="text/css" />
    {#<link href="/bundles/ekynamedia/media-manager.css" rel="stylesheet" type="text/css" />#}
    {% stylesheets output='css/debug/media-manager.css'
        '@EkynaMediaBundle/Resources/public/media-manager.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    {#{% javascripts output='js/debug/media-manager.js' '@media_manager_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}#}
    <script src="/assets/jquery-ui/jquery-ui.min.js" type="text/javascript" ></script>
    <script src="/bundles/ekynamedia/jquery.ui-contextmenu.min.js" type="text/javascript" ></script>
    <script src="/bundles/ekynamedia/fancytree/jquery.fancytree.min.js" type="text/javascript" ></script>
    <script src="/bundles/ekynamedia/fancytree/src/jquery.fancytree.dnd.js" type="text/javascript"></script>
    <script src="/bundles/ekynamedia/fancytree/src/jquery.fancytree.edit.js" type="text/javascript"></script>
    {#<script src="/bundles/ekynamedia/media-manager.js" type="text/javascript" ></script>#}
    {% javascripts output='js/debug/media-manager.js'
        '@EkynaMediaBundle/Resources/public/media-manager.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}