{% block video -%}
{% apply spaceless %}
{% if responsive -%}
    <div class="embed-responsive embed-responsive-{{ aspect_ratio }}"
    {%- if min_height %} style="min-height:{{ min_height }}"{% endif %}>
{%- endif %}
    <video {{ block('attributes') }}>
        {% for mime_type, src in videos -%}
            <source src="{{ src }}" type="{{ mime_type }}">
        {%- endfor %}
        {% if alt_message is not empty -%}
            {{ alt_message|trans }}
        {%- endif %}
    </video>
{% if responsive %}</div>{% endif %}
{% endapply %}
{%- endblock video %}

{% block audio -%}
{% apply spaceless %}
<audio{{ block('attributes') }} controls>
    <source src="{{ src }}" type="{{ mime_type }}">
    {% if alt_message is not empty -%}
        {{ alt_message|trans }}
    {%- endif %}
</audio>
{% endapply %}
{%- endblock audio %}

{% block flash -%}
{% apply spaceless %}
<object{{ block('attributes') }}>
    <param name="movie" value="{{ src }}" />
    <param name="bgcolor" value="ffffff" />
    <!--[if !IE]>-->
    <object type="application/x-shockwave-flash" data="{{ src }}"
            {%- if attr.width %} width="{{ attr.width }}"{% endif %}
            {%- if attr.height %} height="{{ attr.height }}"{% endif %}>
        <!--<![endif]-->
        <div>
            <h1>Please install Flash player to see this content.</h1>
            <p>
                <a href="http://www.adobe.com/go/getflashplayer">
                    <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
                </a>
            </p>
        </div>
        <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
</object>
{% endapply %}
{%- endblock flash %}

{% block image -%}
{% apply spaceless %}
<img{{ block('attributes') }}>
{% endapply %}
{%- endblock image %}

{% block object -%}
{% apply spaceless %}
<object type="{{ type }}" {{ block('attributes') }}>
    {{ fallback }}
</object>
{% endapply %}
{%- endblock object %}

{% block file -%}
{% apply spaceless %}
<a{{ block('attributes') }}>{{ name }}</a>
{% endapply %}
{%- endblock file %}

{% block attributes %}
{% for key, value in attr %}
    {% if value is iterable %}
        {{ key }}='{{ value|json_encode }}'
    {% elseif value is null %}
        {{ key }}
    {% else %}
        {{ key }}="{{ value }}"
    {% endif %}
{% endfor %}
{%- endblock attributes %}
